html,
body {
  font-family: 'Roboto', 'Helvetica', sans-serif;
  background-color: #f5f5f5;
}
a {
  text-decoration: none;
}
li a {
  text-decoration: underline;
  color: #0288d1;
}
.mdl-card {
  overflow: visible;
}
.mdl-grid {
  max-width: 1024px;
  margin: auto;
}
.mdl-layout__header-row {
  padding: 0;
}
#qrsample-sign-in-status {
  font-weight: bold;
}
pre {
  overflow-x: auto;
  line-height: 18px;
}
code {
  white-space: pre-wrap;
  word-break: break-all;
  font-size: 0.9rem;
}
h3 {
  background: url('firebase-logo.png') no-repeat;
  background-size: 40px;
  padding-left: 50px;
  color: white;
}
h6 {
  margin-top: 0;
}

.currentUser-value {
  margin-top: 20px;
}

.qr-container {
  position: relative;
}

.qr-container > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

body.signed-in h2.signed-out {
  display: none;
}

body.signed-out h2.signed-in {
  display: none;
}

body.signed-in .qr-container {
  display: none;
}

body.signed-out .currentUser-value {
  display: none;
}

body.signed-out #qrsample-sign-out {
  display: none;
}

.loading-container {
  display: none;
}

.loading-container.enabled {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.4);
}

/** Dual ring spinner **/
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
}
.lds-dual-ring:after {
  content: ' ';
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 0.8s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
